[submodule "TSlib"]
path = TSlib
url = https://github.com/thuml/Time-Series-Library.git
branch = main
[submodule "LTSM"]
path = LTSM
url = https://github.com/thuml/Large-Time-Series-Model.git
branch = main
[submodule "OpenLTM"]
path = OpenLTM
url = https://github.com/thuml/OpenLTM.git
branch = main
